html {
    font-family: "Roboto", "Montserrat", sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #eceff4;
    /* color: #3C638E; */
}

h1 {
    color: #6C935C;
    text-align: center;
}

h2 {
    color: #3C638E;
}

svg {
    border:1px solid gray;
}

.legend {
    border:0px solid gray
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

#federer_chart {
    width: 600px;
    height: 400px;
}

#nadal_chart {
    width: 600px;
    height: 400px;
}

#djokovic_chart {
    width: 600px;
    height: 400px;
}

#pie_slam {
    width: 600px;
    height: 400px;
}

#bar_race {
    width: 1000px;
    height: 600px;
}

.graphTitle {
    font-size:1.2em;
    font-weight: bold;
    fill: #3C638E;
}

#federer_picture {
    height: 400px;
}

#nadal_picture {
    height: 400px;
}

#djokovic_picture {
    height: 400px;
}

#tooltip {
    position: absolute;
    width: 125px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: white;
    opacity: 0;
    border: 1px solid;
    padding: 2px;
}

.axis-label {
    font-size:1.2em;
    font-family:sans-serif;
    fill:gray;
}

.tick line {
    stroke: lightgray;
}

#stopButton {
    opacity: 0;
}